@use "../../../../scss/util" as u;

.btn {
    padding: 12px;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    cursor: pointer;
    border: none;

    &-primary {
        background-color: u.$primary-button-background;
        color: white;
    }

    &-secondary {
        background-color: u.$secondary-button-background;
        color: black;
    }

    &-disabled {
        background-color: u.$disabled-button-background;
        color: black;
        pointer-events: none;
    }
}

.btn:hover {
    box-shadow: 0px 1px 5px 0px #0000007d;
}