@use "../../../../scss/util" as u;

.btn {
    padding: 12px;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    cursor: pointer;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    transition: 1s;

    mat-icon {
        transition: 1.5s;
        color: orangered;

    }

    &-original {
        background-color: white;
        color: black;
        border: 1px solid u.$border;
    }

    &-primary {
        background-color: u.$primary-button-background;
    }

    &-secondary {
        background-color: u.$secondary-button-background;
        color: black;
    }

    &-tertiary {
        background-color: u.$tertiary-button-background;
    }

    &-disabled {
        background-color: u.$disabled-button-background;
        color: black;
        pointer-events: none;
    }
}

.btn:hover {
    box-shadow: 0px 1px 5px 0px #0000006c;
}

@media (max-width: 610px) {
    .btn {
        &-primary {
            width: 278px;
        }

        &-disabled {
            width: 278px;
        }
    }
}