@use '../../../../scss/util' as u;

.navigation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
        font-size: 27px;
    }

    span {
        margin: -1px;
        cursor: pointer;
        transition: 300ms;
    }

    span:hover {
        color: u.$secondary-color;
    }

    .lastTitle {
        color: u.$secondary-color;
    }

    .separator {
        margin-right: 3px;
    }

}