<div *ngIf="navigationService.getHistory().length > 1" class="navigation">
  <h1
    *ngFor="
      let route of navigationService.getHistory();
      let i = index;
      let last = last
    "
  >
    <span
      (click)="selectPage(route)"
      [ngClass]="{
        lastTitle: last,
        titleColor: navigationService.getHistory().length > 1
      }"
    >
      {{ route.title }}
    </span>
    <span
      class="separator"
      *ngIf="!last && i < navigationService.getHistory().length - 1"
      >\</span
    >
  </h1>
</div>

<div *ngIf="navigationService.getHistory().length == 1" class="navigation">
  <h1>
    <span>
      {{ navigationService.getHistory()[0].title }}
    </span>
  </h1>
</div>
