@use "../../../../../scss/util" as u;

.SearchBy {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .titleWrapper {
        font-weight: u.$font-weight-medium;
        line-height: 25px;

        h1 {
            font-size: u.$font-size-titles;
            margin-bottom: 8px;
        }

        span {
            font-weight: u.$font-weight-preBold;
        }
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    .button {
        padding-top: 5px;
    }
}

mat-form-field {
    width: 270px;
}

::ng-deep .mat-select-panel {
    background-color: white;
}

::ng-deep .mat-select-value-text {
    color: black;
}

::ng-deep .mat-focused .mat-form-field-underline {
    background-color: u.$secondary-color;
}

::ng-deep .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-underline {
    background-color: u.$secondary-color;
}

::ng-deep .mat-option-text {
    color: black;
}

::ng-deep mat-label {
    font-size: 18px;
    color: u.$secondary-color;
}

::ng-deep .mat-select-arrow {
    color: black;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: black;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: u.$primary-color;
}

@media (max-width: 610px) {
    form {
        gap: 10px;
        justify-content: center;
    }

    .SearchBy {
        .titleWrapper {
            text-align: center;

            h1 {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 431px) {
    form {
        gap: 0px;
        justify-content: center;
    }

    .SearchBy {
        .titleWrapper {
            text-align: center;

            h1 {
                margin-bottom: 10px;
            }
        }
    }
}