<form [formGroup]="searchByForm" class="searchBy" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Search by</mat-label>
    <mat-select name="item">
      <mat-option
        (click)="selectOption(item)"
        selectOption
        *ngFor="let item of searchList"
        [value]="item.value"
      >
        {{ item.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="searchType === 'name'" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Lasagne" formControlName="name" />
  </mat-form-field>

  <mat-form-field *ngIf="searchType === 'area'" appearance="fill">
    <mat-label>Area</mat-label>
    <mat-select formControlName="area">
      <mat-option
        selectOption
        *ngFor="let area of recipeAreas"
        [value]="area.strArea"
      >
        {{ area.strArea }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="searchType === 'ingredients'" appearance="fill">
    <mat-label>Favorite ingredient</mat-label>
    <input matInput placeholder="Ex. Rice" formControlName="ingredient" />
  </mat-form-field>

  <app-button
    class="button"
    [panelClass]="this.isButtonEnabled() ? 'primary' : 'disabled'"
    *ngIf="searchType"
    text="Search"
  ></app-button>
</form>
