@use "../../../../../scss/util" as u;

.searchBy {
    display: flex;
    gap: 25px;

    .button {
        padding-top: 5px;
    }
}

::ng-deep .mat-select-panel {
    background-color: white;
}

::ng-deep .mat-select-value-text {
    color: black;
}

::ng-deep .mat-focused .mat-form-field-underline {
    background-color: u.$secondary-color;
}

::ng-deep .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-underline {
    background-color: u.$secondary-color;
}

::ng-deep .mat-option-text {
    color: black;
}

::ng-deep mat-label {
    color: u.$secondary-color;
}

::ng-deep .mat-select-arrow {
    color: black;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: black;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: u.$primary-color;
}