.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .card {
        max-width: 300px;
        background: mintcream;
        color: black;

        &:hover {
            box-shadow: 0px 1px 5px slategrey;
            cursor: pointer;
        }
    }
}



.mat-card {
    padding: 16px 16px 0px 16px;
}