@use "../../../../../scss/util" as u;

.category {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
        position: relative;
        width: fit-content;
        height: 35px;
        color: u.$primary-color;
    }

    h1::after {
        @include u.underlinedTitle()
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}