@use '../../../../scss/util' as u;

header {
    background-color: var(--header-color);
    height: 20vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;

    .presentation {
        width: 42%;
        display: flex;
        align-items: center;
        gap: 15px;

        .menu {
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .mat-icon-button {
                width: 65px;
                height: 65px;
            }

            mat-icon {
                width: 100%;
                font-size: 55px;
                color: whitesmoke;
                cursor: pointer;
                transition: color 500ms ease-in-out;

                &:hover {
                    color: u.$medium-orange;
                }
            }
        }

        .projectName {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: self-start;

            & h1 {
                font-size: 42px;
                text-shadow: 2px 2px 3px black;
            }

            & p {
                font-size: 22px;
                color: u.$medium-orange;
            }
        }
    }

    .user {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .iconWrapper {
            width: 70px;
            height: 70px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            mat-icon {
                width: 40px;
                height: 40px;
                font-size: 40px;
                color: u.$purple;
            }
        }

    }
}


@media (max-width: 795px) {
    header {
        .presentation {
            width: 100%;
        }
    }
}


@media (max-width: 360px) {
    header {
        .presentation {
            .projectName {
                & h1 {
                    font-size: 35px;
                    text-shadow: 2px 2px 3px black;
                }
            }

        }
    }
}