// COLOR PALETTE
$white-background: #fefefe;
$lighter-blue-1: lightblue;
$purple: #9FA4D7;
$blue: blue;
$dark-blue: #001F3F;
$dark-green: #2c5f74;
$lighter-orange: #ff9890;
$dark-orange: #f44336;


// BASE
$primary-color: $dark-green;
$secondary-color: $dark-orange;
// BUTTON
$primary-button-background: $purple;
$secondary-button-background: $dark-blue;