// COLOR PALETTE
$white-background: #fefefe;
$lighter-gray: gainsboro;
$dark-gray: lightslategray;
$alert-yellow: #FFFFE0;
$lighter-yellow: blanchedalmond;
$lighter-blue-1: lightblue;
$purple: #9FA4D7;
$blue: blue;
$black: black;
$dark-blue: #001F3F;
$dark-green: #0DA59B;
$medium-orange: lightcoral;
$dark-orange: #f44336;


// BASE
$primary-color: $dark-green;
$secondary-color: $dark-orange;
// BUTTON
$primary-button-background: $primary-color;
$secondary-button-background: $lighter-yellow;
$tertiary-button-background: $dark-orange;
$disabled-button-background: $lighter-gray;
// BORDERS
$border: $lighter-gray;