// COLOR PALETTE
$lighter-blue-1: lightblue;
$lighter-blue-2: #9FA4D7;
$dark-blue-1: #001F3F;
$dark-blue-2: #2c5f74;
$lighter-red-1: #F9A3A3;


// BASE
$primary-color: $dark-blue-2;
$secondary-color: $lighter-red-1;

// BUTTON
$primary-button-background: $lighter-blue-2;
$secondary-button-background: $dark-blue-1;
