$font: 'Open Sans', sans-serif;
$font-size-minimum: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-big-medium: 20px;
$font-size-extra-medium: 22px;
$font-size-large: 26px;
$font-size-titles: 28px;

$font-weight-medium: 300;
$font-weight-preBold: 500;
$font-weight-bold: bold;