@use "../util/colors" as c;

@mixin underlinedTitle {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 42%;
    height: 4px;
    border-radius: 2px;
    background-color: c.$medium-orange;
}