@use "../../../scss/util" as u;

.favorites {
    header {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-bottom: 45px;
        align-items: center;

        h1 {
            margin-bottom: 0px;
            font-size: 28px;
            font-weight: u.$font-weight-medium;
        }

        .iconDisabled {
            color: u.$dark-gray;
            pointer-events: none;
        }
    }

    .wrapper {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            background-color: white;
            transition: 0.5s;
            border: 1px solid u.$border;

            &:hover {
                box-shadow: 0px 1px 8px 0px black;
            }
        }
    }
}