<div class="favorites">
  <header>
    <h1>Favorites</h1>
    <app-button
      [panelClass]="panelClass"
      [text]="'Clean'"
      [icon]="'delete_sweep'"
      [width]="'100px'"
      (click)="deleteRecipes()"
    ></app-button>
  </header>
  <app-no-results-found
    *ngIf="favorites.length == 0"
    title="No Results Found"
    text="You have not saved any recipes as favorites yet."
  ></app-no-results-found>
  <section class="wrapper">
    <mat-card class="card" *ngFor="let recipe of favorites">
      <app-card
        [recipe]="recipe"
        (imgClick)="redirectToRecipeDetail($event)"
        (handleAddOrDelete)="handleAddOrDelete($event)"
      ></app-card>
    </mat-card>
  </section>
</div>
