@use "../../../../scss/util" as u;

::ng-deep.snackbar-succefully {
    background-color: u.$secondary-color;
    color: white;

    button {
        color: u.$lighter-yellow;
    }
}

::ng-deep.snackbar-delete {
    color: black;
    background-color: u.$lighter-yellow;

    button {
        color: u.$secondary-color;
    }
}

.card {
    width: 250px;
    background: transparent;
    padding-top: 0px;

    img {
        cursor: pointer;
        border-radius: 5px;
    }

    .description {
        display: flex;
        justify-content: space-between;

        p {
            color: black;
            line-height: normal;
        }

        .icon {
            font-size: 24px;
            color: u.$secondary-color;
            cursor: pointer;
        }
    }
}