@use "../../../../scss/util" as u;

.card {
    width: 250px;
    background: transparent;
    padding-top: 0px;

    img {
        cursor: pointer;
    }

    .description {
        display: flex;
        justify-content: space-between;

        p {
            color: black;
            line-height: normal;
        }

        .icon {
            font-size: 24px;
            color: u.$lighter-orange;
            cursor: pointer;
        }
    }
}