@use '../scss/util' as u;

#mySidenav {
    background-color: var(--sidenav-color);
    padding: 10px;
    height: 80vh;
    border-bottom-right-radius: 5px;
}

#sidenavContent {
    background-color: var(--background-color);
    color: black;
    display: flex;
    justify-content: center;

    main {
        width: 75%;
        padding: 80px 0px 80px 0px;
    }
}

.page {
    color: black;
    margin-bottom: 5px;

    &:hover {
        @include u.sectionShadow();
    }

    .nameAndIcon {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

mat-icon {
    height: 25px;
    width: 25px;
    font-size: 25px;
    color: black;
}

.divider {
    background-color: gainsboro;
    margin: 10px 0px 5px 0px;
}

.link {
    color: black;
    margin-left: 10px;
}

.selected-page {
    @include u.sectionShadow();

    .nameAndIcon {
        mat-icon {
            color: black;
        }
    }
}

@media (max-width: 800px) {
    #sidenavContent {
        main {
            padding: 35px 0px 80px 0px;
        }
    }
}