#mySidenav {
    background-color: var(--sidenav-color);
    padding: 10px;
}

#sidenavContent {
    background-color: var(--background-color);
    color: black;
}

.page {
    color: black;

    &:hover {
        // TODO: LLevarlo a un mixin.
        background-color: lightblue;
        border-radius: 5px;
    }
}

.selected-page {
    background-color: lightblue;
    border-radius: 5px;
}