<div class="listContainer">
  <section
    class="wrapper"
    *ngIf="!(spinnerService.isLoading$ | async); else showSpinner"
  >
    <p>Enter a category and choose your favorite recipe!</p>
    <div class="list">
      <mat-card
        class="card"
        *ngFor="let category of categories"
        (click)="redirectToDetail(category.strCategory)"
      >
        <mat-card-header>
          <mat-card-title class="title">
            {{ category.strCategory }}
          </mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ category.strCategoryThumb }}"
          alt="{{ category.strCategory }}"
        />
      </mat-card>
    </div>
  </section>
  <ng-template #showSpinner>
    <app-spinner class="spinner"></app-spinner>
  </ng-template>
</div>
