<div class="searches">
  <app-search-by (eventSearchBy)="eventSearchBy($event)"></app-search-by>
  <div class="result" *ngIf="fullRecipeReponse.meals?.length; else listNoFound">
    <h1>
      Recipes found (<span class="title">{{
        fullRecipeReponse.meals.length
      }}</span
      >)
    </h1>
    <main>
      <app-search-result
        *ngIf="!(spinnerService.isLoading$ | async); else showSpinner"
        [recipes]="fullRecipeReponse.meals"
      ></app-search-result>
      <ng-template #showSpinner>
        <app-spinner class="spinner"></app-spinner>
      </ng-template>
    </main>
  </div>
  <ng-template #listNoFound>
    <app-no-results-found
      *ngIf="fullRecipeReponse.meals == null && searchActive"
      title="No Results Found"
      text="We could not find any recipe with that reference."
    ></app-no-results-found>
  </ng-template>
</div>
