@use "../../../scss/util" as u;

.searches {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .result {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;

        .title {
            color: u.$secondary-color;
        }

        .spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }
    }
}

@media (max-width: 610px) {
    .searches {
        .result {
            align-items: center;
        }
    }
}