@use "../../../../../scss/util" as u;

.searchResult {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;

    .card {
        background-color: white;
        transition: 0.5s;
        border: 1px solid u.$border;

        &:hover {
            box-shadow: 0px 1px 8px 0px black;
        }
    }
}

@media (max-width: 610px) {
    .searchResult {
        justify-content: center;
    }
}