@use "../../../scss/util" as u;

::ng-deep.snackbar-succefully {
    background-color: u.$secondary-color;
    color: white;

    button {
        color: u.$alert-yellow;
    }
}

::ng-deep.snackbar-delete {
    color: black;
    background-color: u.$alert-yellow;

    button {
        color: u.$secondary-color;
    }
}

.recipe {
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;

        main {
            display: flex;
            background-color: white;
            padding: 15px;
            gap: 15px;

            .image {
                width: 50%;

                img {
                    width: 100%;
                    border-radius: 3px;
                }
            }

            .detail {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: relative;

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    border-radius: 3px;

                    h1 {
                        margin-bottom: 0px;
                        padding-right: 40px;
                    }

                    .iconContainer {
                        position: absolute;
                        top: 0px;
                        right: 0px;

                        mat-icon {
                            color: u.$secondary-color;
                            height: 35px;
                            width: 35px;
                            font-size: 30px;
                            cursor: pointer;
                        }
                    }

                    .info {
                        display: flex;
                        gap: 5px;

                        b {
                            font-size: u.$font-size-small;
                        }

                        p {
                            margin-bottom: 8px;
                        }

                        .highlight {
                            color: u.$secondary-color;
                            cursor: pointer;
                        }

                        .tag {
                            color: white;
                            background-color: u.$medium-orange;
                            padding: 3px 10px 3px 10px;
                            border-radius: 10px;
                            font-size: 14px;
                            margin-right: 3px;
                        }
                    }

                    .tags {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 5px;
                    }
                }




                .ingredients,
                .measures {
                    background-color: u.$primary-color;
                    padding: 10px;
                    color: white;
                    margin-top: 5px;
                    border-radius: 3px;

                    h2 {
                        margin-bottom: 5px;
                    }

                    .list {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        padding: 0px 10px 10px 10px;

                        .ingredient,
                        .measure {
                            display: flex;
                            gap: 5px;
                            align-items: center;

                            span {
                                width: 10px;
                                height: 10px;
                                background: #f44336;
                                border-radius: 50%;
                                border: 1px solid white;
                            }

                            p {
                                font-size: u.$font-size-minimum;
                            }
                        }

                    }

                }


                .measures {
                    border: 1px solid u.$border;
                    background-color: white;
                    color: u.$black;
                }
            }



        }

        article {
            background-color: white;
            padding: 20px;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;

            ul {
                margin-bottom: 25px;
                padding-bottom: 25px;

                li {
                    margin-bottom: 3px;
                }
            }


            .videoYt {
                padding-top: 50px;
                border-top: 1px solid u.$border;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
}

@media (max-width: 1100px) {
    .recipe {
        .content {
            main {
                flex-direction: column;
                padding: 20px;
                gap: 25px;

                .image {
                    width: 100%;
                    height: 650px;

                    img {
                        height: inherit;
                        border-radius: 3px;
                    }
                }

                .detail {
                    width: 100%;
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .recipe {
        .content {
            main {
                .image {
                    height: 500px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .recipe {
        .content {
            main {
                .image {
                    height: 380px;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .recipe {
        .content {
            padding: 0px;

            main {
                gap: 15px;

                .image {
                    height: 250px;
                }

                .detail {
                    .description {

                        h1 {
                            margin-bottom: 0px;
                            padding-right: 40px;
                            font-size: u.$font-size-medium;
                            line-height: 25px;
                        }

                        .iconContainer {
                            top: 2px;

                            mat-icon {
                                font-size: 25px;
                            }
                        }

                    }
                }
            }
        }
    }

    ul {
        margin-left: -20px;
    }

    p {
        font-size: u.$font-size-minimum;
    }
}