<div class="recipe">
  <div
    class="content"
    *ngIf="!(spinnerService.isLoading$ | async); else showSpinner"
  >
    <main>
      <div class="image">
        <img src="{{ fullRecipe.strMealThumb }}" alt="Photo not found..." />
      </div>
      <aside class="detail">
        <div class="description">
          <h1>{{ fullRecipe.strMeal }}</h1>
          <div class="iconContainer">
            <mat-icon (click)="addToFavorites(fullRecipe)">{{
              favoriteIcon
            }}</mat-icon>
          </div>
          <div class="info">
            <b>Category:</b>
            <p
              class="highlight"
              (click)="redirectToDetail(fullRecipe.strCategory)"
            >
              {{ fullRecipe.strCategory }}
            </p>
          </div>
          <div class="info">
            <b>Area:</b>
            <p>{{ fullRecipe.strArea }}</p>
          </div>
          <div class="info tags">
            <b>Tags:</b>
            <p *ngIf="tags?.length == 0">It does not have</p>
            <div *ngIf="tags.length">
              <span class="tag" *ngFor="let tag of tags">{{ tag }}</span>
            </div>
          </div>
        </div>
        <div class="ingredients">
          <h2>Ingredients</h2>
          <div class="list">
            <div *ngFor="let ingredient of fullRecipe.ingredients">
              <div class="ingredient">
                <span></span>
                <p>{{ ingredient }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="measures">
          <h2>Measures</h2>
          <div class="list">
            <div *ngFor="let measure of fullRecipe.measures">
              <div *ngIf="measure.trim()" class="measure">
                .
                <p>{{ measure }}</p>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </main>
    <article>
      <h1>Instructions</h1>
      <ul>
        <li *ngFor="let step of instructions">
          <p>{{ step }}.</p>
        </li>
      </ul>
      <div class="videoYt">
        <iframe
          [ngClass]="{ 'video-iframe-small': isSmallScreen }"
          width="90%"
          height="600"
          [src]="getSafeVideoUrl(videoYt)"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </article>
  </div>
  <ng-template #showSpinner>
    <app-spinner class="spinner"></app-spinner>
  </ng-template>
</div>
