@use "../../../scss/util" as u;

::ng-deep.snackbar-succefully {
    background-color: u.$secondary-color;
    color: white;

    button {
        color: u.$alert-yellow;
    }
}

::ng-deep.snackbar-delete {
    color: black;
    background-color: u.$alert-yellow;

    button {
        color: u.$secondary-color;
    }
}

.recipe {
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;

        main {
            height: 535px;
            display: flex;
            justify-content: space-between;

            img {
                width: 52%;
            }

            .detail {
                width: 47%;
                height: 100%;
                background-color: white;
                padding: 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;

                h1 {
                    margin-bottom: 0px;
                    padding-right: 40px;
                }

                .iconContainer {
                    position: absolute;
                    top: 18px;
                    right: 22px;

                    mat-icon {
                        color: u.$secondary-color;
                        height: 30px;
                        width: 30px;
                        font-size: 30px;
                        cursor: pointer;
                    }
                }

                .info {
                    display: flex;
                    gap: 5px;

                    b {
                        font-size: u.$font-size-small;
                    }

                    p {
                        margin-bottom: 8px;
                    }

                    .highlight {
                        color: u.$secondary-color;
                        cursor: pointer;
                    }

                    .tag {
                        color: white;
                        background-color: u.$medium-orange;
                        padding: 3px 10px 3px 10px;
                        border-radius: 10px;
                        font-size: 14px;
                        margin-right: 3px;
                    }
                }

                .tags {
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 5px;
                }


                .ingredients,
                .measures {
                    background-color: u.$primary-color;
                    padding: 10px;
                    color: white;
                    margin-top: 5px;

                    h2 {
                        margin-bottom: 5px;
                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        max-height: 110px;
                        padding: 0px 10px 10px 10px;

                        .ingredient,
                        .measure {
                            display: flex;
                            gap: 5px;
                            align-items: center;

                            span {
                                width: 10px;
                                height: 10px;
                                background: #f44336;
                                border-radius: 50%;
                                border: 1px solid white;
                            }

                            p {
                                font-size: u.$font-size-minimum;
                            }
                        }

                    }

                }


                .measures {
                    border: 1px solid u.$border;
                    background-color: white;
                    color: u.$black;
                }
            }



        }

        article {
            background-color: white;
            padding: 20px;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;

            ul {
                margin-bottom: 25px;
                padding-bottom: 25px;

                li {
                    margin-bottom: 3px;
                }
            }


            .videoYt {
                padding-top: 50px;
                border-top: 1px solid u.$border;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
}