<div class="recipe">
  <div
    class="content"
    *ngIf="!(spinnerService.isLoading$ | async); else showSpinner"
  >
    <main>
      <img src="{{ fullRecipe.strMealThumb }}" alt="Photo not found..." />
      <aside class="detail">
        <h1>{{ fullRecipe.strMeal }}</h1>
        <div class="iconContainer">
          <mat-icon (click)="addToFavorites()">{{ favoriteIcon }}</mat-icon>
        </div>
        <div class="info">
          <b>Category:</b>
          <p>{{ fullRecipe.strCategory }}</p>
        </div>
        <div class="info">
          <b>Area:</b>
          <p class="area">{{ fullRecipe.strArea }}</p>
        </div>
        <div class="info tags">
          <b>Tags:</b>
          <p *ngIf="tags?.length == 0">No contiene.</p>
          <div *ngIf="tags.length">
            <span class="tag" *ngFor="let tag of tags">{{ tag }}</span>
          </div>
        </div>
        <div class="ingredients">
          <h2>Ingredients</h2>
          <div class="list">
            <div *ngFor="let ingredient of fullRecipe.ingredients">
              <div class="ingredient">
                <span></span>
                <p>{{ ingredient }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="measures">
          <h2>Measures</h2>
          <div class="list">
            <div *ngFor="let measure of fullRecipe.measures">
              <div *ngIf="measure.trim()" class="measure">
                .
                <p>{{ measure }}</p>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </main>
    <article>
      <h2>Instructions</h2>
      <ul>
        <li *ngFor="let step of instructions">
          <p>{{ step }}.</p>
        </li>
      </ul>
      <div class="videoYt">
        <iframe
          width="90%"
          height="600"
          [src]="getSafeVideoUrl(videoYt)"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </article>
  </div>
  <ng-template #showSpinner>
    <app-spinner class="spinner"></app-spinner>
  </ng-template>
</div>
