@use "../../../scss/util" as u;

.categories {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    app-navigation {
        width: 100%;
    }
}