@use './../util/fonts' as f;

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

p {
    margin-top: 0;
    font-size: f.$font-size-medium;
    font-weight: f.$font-weight-medium;
    margin-bottom: 0px !important;
}

a,
a:visited,
a:active {
    text-decoration: none;
}