<main
  class="inputContainer"
  [ngClass]="panelClass"
  [formGroup]="group"
  *ngIf="group"
>
  <section class="inputContainer-label">{{ label }}</section>
  <section class="inputContainer-wrapper">
    <span *ngIf="icon" class="inputContainer-wrapper-iconContainer">
      <mat-icon>{{ icon }}</mat-icon>
    </span>
    <input
      class="inputContainer-wrapper-input"
      [ngClass]="{
        focused: isFocused,
        search: icon
      }"
      (focus)="isFocused = true"
      (blur)="isFocused = false"
      [style.width]="width"
      [style.marginBottom]="marginBottom"
      [formControlName]="controlName"
      [placeholder]="placeholder"
      type="text"
    />
  </section>
</main>
