@use './../../../../scss/util' as u;

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    width: 100% !important;

    &-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        &-iconContainer {
            position: absolute;
            left: 12px;
            bottom: 3px;
            color: #b0bec5;

            mat-icon {
                height: 18px;
                width: 18px;
            }
        }

        &-input {
            height: 40px;
            display: flex;
            align-items: center;
            font: normal normal normal 16px/21px Roboto;
            letter-spacing: 0px;
            color: #000000;
            background-color: #FFFFFF;
            border-radius: 10px;
            border: 1px solid lightgrey; // create variable
            padding: 14px;
        }

        &-input::placeholder {
            font: normal normal 300 16px/21px Roboto;
            letter-spacing: 0px;
            color: #888888;
        }

        &-input.focused {
            border: 1px solid u.$dark-green;
            outline: none;
        }

        &-input.search {
            padding-left: 39px;
        }
    }

    &-label {
        font: normal normal normal 14px/19px Roboto;
        letter-spacing: 0px;
        color: #000000;
    }
}



.inputContainer.search {
    input {
        border-radius: 0px 8px 8px 0px;
        background-color: #FFFFFF;
    }

    .inputContainer {
        &-label {
            display: none;
        }
    }

    input::placeholder {
        color: u.$dark-green;
    }
}